.about-produce {
    padding: 50px 0;
    .container {
        width: 800px;
    }
    &__subtitle {
        margin-top: 40px;
        font-size: 28px;
    }
    &__text {
        margin-top: 30px;
    }
}