.header {
    height: 80px;
    padding: 0 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        width: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-right: 5%;
        width: 70px;
        height: 70px;
        img {
            width: 100%;
        }

        a {
            &:after {
                display: none;
            }
            &:hover:after {
                display: none;
            }
        }
    }
    &__item {
        font-family: 'Oswald';
        font-weight: 400;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2E2727;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__profile-link {
        &:hover:after {
            display: none;
        }
        &:hover {
            .header__profile-btns {
                display: block;
            }
        }
    }
    &__btn {
        position: relative;
        width: 170px;
        height: 40px;
        border: 2px solid #000;
        background-color: #000;
        font-size: 14px;
            color: #fff;
            text-transform: uppercase;
        transition: 0.2s all;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    &_out {
        border-bottom: 1px solid #000;
    }

    &__profile-btns {
        position: absolute;
        display: none;
        border: 1px solid #000;
    }
    .btn {
        &_modal {
            height: 30px;
            font-size: 14px;
            z-index: 10;

            background: #fff;
            color: #000;
            border: none;
            &:hover {
                color: #265C73;
            }
        }
    }
}