.produce {
    min-height: 450px;
    padding: 30px 0 0 0;
    
    &__btns {
        margin-left: 100px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        
    }
    &__btn {
        width: 150px;
        height: 35px;
        border: none;
        background: none;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.4s all;
        &_active {
            background: #D9D9D9;
            border-radius: 5px;
            color: #265C73;
        }
    }
    &__items {
        display: none;
        margin-top: 30px;
        animation-name: itemsAnim;
        animation-duration: 0.4s;
        &_active {
            display: flex;
        }
    }
    &__item {
        margin: 0 30px;
        width: 310px;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        transition: 0.4s all;
        &:hover {
            box-shadow:0 0 0px 10px #265C73
        }
        &:hover:after {
            display: none;
        }
    }
    &__item:nth-child(1) {
        margin-left: 100px;
        background: url('../assets/images/produce/img2.png') center center/cover no-repeat;
    }
    &__item:nth-child(2) {
        background: url('../assets/images/produce/img1.png') center center/cover no-repeat;
    }
    #prod {
        background: url('../assets/images/produce/img3.png') center center/cover no-repeat;
    }
    &__text {
        padding: 10px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(36, 36, 36, 0.8);
        h2 {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__devider {
        margin-top: 50px;
        height: 1px;
        background: #000;
    }
}